*{
    margin:0;
    padding:0;
}
.back{
    font-size: 15px;
    padding: 20px;
}
.main{
    width:100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0, 0, 0, 0.5)50%),url(background-pic.png);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px;
    height:75px;
    margin: auto;
}
.icon{
    width:200px;
    float: left;
    height:70px;
}
.logo{
    color: orangered;
    font-size: 35px;
    font-family: Arial;
    padding-top: 20px;
    padding-left: 20px;
    float: left;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: orangered;
}
.search{
    width:330px;
    float: left;
    margin-left: 270px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid orangered;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px; 
}
.btn{
    width:100px;
    height: 40px;
    background: orangered;
    border:none;
    margin-top: 13px;
    color:white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
}
.btn:focus{
    outline: none;
}
.srch:focus {
    outline: none;
}
.con{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}
.con .para{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.con h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.con .cn{
    width: 160px;
    height: 40px;
    background: orangered;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}
.con .cn a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
}
.cn:hover{
    background: white;
}
.con span{
    color: orangered;
    font-size: 60px;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)),url(background-pic.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.form-box{

    width: 350px;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    padding: 50px 60px 70px;
    text-align: center;
}
.form-box h2{
    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
    color:orangered;
    margin-bottom: 60px;
    padding: 8px;
    position: relative;
    border-radius: 10px;
}
.form-box h2::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 5px;
    background: black;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}
.label{
    display: flex;
}
.input-field{
    margin: 15px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input{
    width: 100%;
    background: transparent;
    border-bottom: 1px solid orangered;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: sans-serif;
    padding: 18px 15px;
}
.form-box input:focus{
    outline: none;
} 
::placeholder{
    font-family: Arial;
}
.butn{
    width: 100%;
    justify-content: space-between;
}
.butn p{
    margin: 20px;
}
.butn button{
    width: 200px;
    flex-basis: 48%;
    height:40px;
    background:orangered;
    border: none;
    cursor: pointer;
    transition: background 1s;
    border-radius: 15px;
}
.input-group{
    height: 280px;

}
.butn button.disable{
    background: rgb(181, 171, 171);
    color: white;
    margin-bottom: 15px;
}
.signupBtn{
    margin-bottom: 15px;
}
/* button:hover{
    background: blue;
    } */
.butn a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.form-box .link{
    font-family: Arial, Helvetica, sans-serif;
}
@media(max-width: 700px){
    .con h1{
        font-size: 20px;
    }
    ul li{
        display: block;
    }
    .menu{
        position:absolute;
        background: orangered;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}