.main{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.main-1 img{
        height: 450px;
        padding-left: 30px;
        padding-right: 20px;
        padding-top: 80px;
}
.main-2{
    background-color: aqua;
    padding: 20px;
    margin: 20px;
    margin-left: 60px;
    width: 650px;
}
